#menuFrame, #statisticFrame, #settingsFrame {
    border-image: url(:/plate);
}

#gameFrame {
    border-image: url(:/room);
}

#safeFrame {
    border-image: url(:/safe);
}

#menuFrame > QPushButton {
    background: rgba(100,100,100,100);
    border-radius: 10px;
    height: 80px;
    width: 500px;
    font-size: 20pt;
    color: rgb(240,240,240);
    border: 1px solid rgba(0,0,0,100);
}

#menuFrame > QPushButton:hover {
    background: rgba(100,100,100,200);
}

#menuFrame > QPushButton:hover:pressed {
    background: rgba(100,100,100,180);
}

#menuFrame > QLabel, #headerLabel {
    padding: 20px;
    font-size: 30pt;
    color: yellow;
    border-radius: 10px;
}

#settingsFrame > #infoLabel, #statisticFrame > #infoLabel {
    font-size: 20pt;
    color: rgb(240,240,240);
    background: rgba(100,100,100,100);
    padding: 20px 80px 20px 80px;
    border: 1px solid rgba(0,0,0,100);
    border-radius: 10px;
}

#gameRule {
    font-size: 13pt;
    color: rgb(240,240,240);
    background: rgba(100,100,100,100);
    padding: 20px 80px 20px 80px;
    border: 1px solid rgba(0,0,0,100);
    border-radius: 10px;
}

#undoButton {
    background: rgba(100,100,100,100);
    border-radius: 10px;
    height: 30px;
    width: 120px;
    font-size: 10pt;
    color: rgb(180,180,180);
    border: 1px solid rgba(0,0,0,100);
}

#undoButton:enabled {
    background: rgba(100,100,100,150);
    color: rgb(240,240,240);
}

#undoButton:enabled:hover {
    background: rgba(100,100,100,200);
    color: rgb(240,240,240);
}

#undoButton:enabled:hover:pressed {
    background: rgba(100,100,100,180);
    color: rgb(240,240,240);
}
